h1 {
    border: 4px solid blueviolet;
    background-color: rgb(14, 14, 21);
    padding: 10px;
    color: blueviolet;
    text-align: center;
  }

  .headerContainer{
    text-align: center;
  }
  .centeredImg {
    display: block;
    margin: 0 auto;
    }

.wBorderandShadow {
  border: 6px solid blueviolet;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}